<h3>Caculator</h3>
<div>
  <span>Number 1</span>
  <input type="text" placeholder="Input Number 1" id="num1">
</div>
<div>
  <span>Number 2</span>
  <input id="num2" type="text" placeholder="Input number 2">
</div>
<button (click)="calculate('+')" type="submit" value="+">
  +
</button>
<button (click)="calculate('-')" type="submit" value="+">
  -
</button>
<button (click)="calculate('+')" type="submit" value="+">
  x
</button>
<button (click)="calculate('+')" type="submit" value="+">
  /
</button>
<div>
  <div>
    <output [value]="result"></output>
  </div>
</div>
